<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ragab.clinics">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/doctor"
        android:label="@string/app_name"
        android:roundIcon="@drawable/doctor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".x_Rays_Details.X_Rays_Details_Activity"></activity>
        <activity android:name=".labs_Details.Labs_Details_Activity" />
        <activity android:name=".x_Rays.X_RaysActivity" />
        <activity android:name=".Labs.LabsActivity" />
        <activity android:name=".aboutDoctor.AboutDoctorActivity" />
        <activity android:name=".sheet_TreatmentDetails.sheet_TreatmentDetailsActivity" />
        <activity android:name=".Upload_X_Ray.Upload_X_RayActivity" />
        <activity android:name=".UploadLabs.UploadLabsActivity" />
        <activity android:name=".sheet_Treatment.sheet_TreatmentActivity" />
        <activity android:name=".contact.ContactActivity" />
        <activity android:name=".detailsClinic.DetailsClinicActivity" />
        <activity android:name=".newRequest.newRequestActivity" />
        <activity android:name=".oldRequest.oldRequestActivity" />
        <activity android:name=".booking.BookingActivity" />
        <activity android:name=".Splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registration.RegistrationActivity" />
        <activity android:name=".Login.LoginActivity" />
        <activity
            android:name=".Home.HomeActivity"
            android:label="@string/title_activity_home" />
    </application>

</manifest>