<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ragab.clinics">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/doctor"
        android:label="@string/app_name"
        android:roundIcon="@drawable/doctor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".aboutDoctor.AboutDoctorActivity"></activity>

        <activity android:name=".medical_PrescreptionDetails.medical_PrescreptionDetailsActivity" />

        <activity android:name=".x_Ray.X_RayActivity" />
        <activity android:name=".labs.LabsActivity" />
        <activity android:name=".medical_Prescreption.medicalPrescreptionActivity" />
        <activity android:name=".contact.ContactActivity" />
        <activity android:name=".detailsClinic.DetailsClinicActivity" />
        <activity android:name=".newRequest.newRequestActivity" />
        <activity android:name=".oldRequest.oldRequestActivity" />
        <activity android:name=".booking.BookingActivity" />
        <activity android:name=".Splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registration.RegistrationActivity" />
        <activity android:name=".Login.LoginActivity" />
        <activity
            android:name=".Home.HomeActivity"
            android:label="@string/title_activity_home" />
    </application>

</manifest>